## this is pi-camera.service
# written by Rasmus Munk
# munk1@live.dk
# copy to /lib/systemd/system
# symlink is not enough, file must be copied there.

[Unit]
After=thymio-connection.service
# only needed if linking to a separate folder.
StopWhenUnneeded=true

[Service]
Type=simple
RemainAfterExit=no
Restart=on-failure
ExecStart=/bin/bash /usr/local/boot-pi-camera.sh

[Install]
WantedBy=multi-user.target
